<!-- This is the main HTML page for the 'host'/game view on the big monitor -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Host Page</title>

		<link rel="stylesheet" href="game_master/css/host.css" />

		<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
		<script src="game_master/js/host.js"></script>
		<script src="game_master/js/hostSockets.js"></script>
	</head>
	<body>
		<div id="digitalMap">
			<canvas id="canvas"></canvas>
		</div>
		<div class="popupBanner">THIS IS A DEMO BANNER THAT WILL POP UP WHEN THERE IS A QUESTION BEING PRESENTED</div>
	</body>
</html>
