<!-- This is the main HTML page for the 'client'/player cellphone view -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Player Page</title>

		<link rel="stylesheet" href="player_web_app/css/player.css">

		<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
		<script src="player_web_app/js/player.js"></script>
		<script src="player_web_app/js/playerSockets.js"></script>
	</head>
	<body>
		<div class="clientContent">
			THIS IS THE PLAYER CLIENT APP PAGE
			<h1 id="questionText">
				QUESION TEXT
			</h1>
			<table>
			<tr>
			<!-- TAKE NOTE OF THE FORMAT FOR `dispatch`ing SOCKET EVENTS TO THE SERVER -->
			<!-- SEE `public/player_web_app/js/player.js` FOR IMPLEMENTATION -->
			<td><button onclick="dispatch('userAnswered', 'A')"> ANSWER A </button></td>
			<td><button onclick="dispatch('userAnswered', 'B')"> ANSWER B </button></td>
			</tr>
			<tr>
			<td><button onclick="dispatch('userAnswered', 'C')"> ANSWER C </button></td>
			<td><button onclick="dispatch('userAnswered', 'D')"> ANSWER D </button></td>
			</tr>
			</table>
		</div>
	</body>
</html>
