/* This is the CSS file for the views/player.ejs page */

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background: grey;
}

.clientContent {
    width: 100%;
    text-align: center;
}